@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background: #0F1923;
    color: #EBE8E1;
    font-family: 'Roboto Mono', monospace;
}

body {
    transition: opacity 400ms;
}

a#index {
    background: #0F1923;
    color: #FF4655;
    position: fixed;
    bottom: 24px;
    left: 24px;
    padding: 8px;
    border: 2px solid #FF4655;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    transition: all 400ms;
    transition-property: background,color;
}

a#index:hover {
    background: #FF4655;
    color: #0F1923;
}
