
a {
    color: #FF4655;
    transition: all 400ms;
    transition-property: background,color;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
}

a::after {
    content: "";
    display: block;
    width: 0;
    transition: width 400ms;
    border-bottom: 2px solid #FF4655;
}

a:hover::after {
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin: 4px 0; 
}

body {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#wrap {
    min-width: 560px;
}
