
:root {
    --color-accent: #ff4655;
    --color-armory: #3ec593;
    --color-armory-na: #80808040;
    --color-armory-ac: #3ec59360;
    --background: #0f1923;
    --text: #EBE8E1;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: var(--text);
    background: var(--background);
    font-family: 'Heebo', 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans KR', sans-serif;
}

h1 {
    justify-content: center;
}

#wrapper {
    padding: 16px;
    background: #0f1923;
    /* background: #80808080; */
}

#card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 280px;
    width: 560px;
    border: 8px solid var(--color-accent);
    padding: 16px;
    font-weight: 700;
    font-size: 1.2rem;
}

#card-title, h1 {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

#card-title img, h1 img {
    padding-bottom: 2px;
}

#card-id {
    width: 100%;
    margin: 8px 0;
    font-size: 1.4rem;
}

#card-id::before {
    content: 'ID: ';
}

#card-content {
    display: flex;
    flex-direction: column;
}

#card-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#card-data>div {
    width: calc(50% - 12px);
    margin: 4px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    border-bottom: 4px solid var(--color-accent);
}

#card-data>div:nth-child(odd) {
    margin-right: 12px;
}

#card-data>div::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background: var(--color-accent);
    /* border-bottom: 2px solid var(--color-accent); */
}

#card-memo {
    display: flex;
    margin: 4px;
}

#card-footer {
    width: 100%;
    text-align: right;
    margin-top: auto;
    font-size: 0.8rem;
    align-self: flex-end;
}

#buttons {
    max-width: 640px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
}

#buttons>div {
    width: 20%;
    padding: 8px;
    background: var(--color-armory-na);
    border: 2px solid var(--color-armory-na);
}

#buttons>div:hover {
    background: var(--color-armory);
    border: 2px solid var(--color-armory);
}

#buttons>div.loaded {
    background: var(--color-armory-ac);
    border: 2px solid var(--color-armory);
}

#buttons>div span{
    font-weight: 700;
}

div[placeholder]:empty::before {
    content: attr(placeholder) !important;
    color: #aaa;
}

div[placeholder]:empty:focus::before {
    content: '';
}

footer {
    width: 640px;
    font-weight: 400;
    margin-top: 24px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
